<web-app>
	<servlet>
		<servlet-name>listMapping</servlet-name>
		<servlet-class>bms.ListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listMapping</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>insertMapping</servlet-name>
		<servlet-class>bms.InsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>insertMapping</servlet-name>
		<url-pattern>/insert</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>detailMapping</servlet-name>
		<servlet-class>bms.DetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>detailMapping</servlet-name>
		<url-pattern>/detail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteMapping</servlet-name>
		<servlet-class>bms.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteMapping</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
</web-app>